.navbar {
  display: flex;
  align-items: center;
  flex-direction: row;
  overflow: hidden;
  height: fit-content;
}

.navbar--logo {
  display: flex;
  padding: 2%;
  min-width: 50px;
  max-width: 80%;
}
.navbar-item {
  color: black;
  display: flex;
  text-decoration: none;
}

.navbar-item:hover {
  color: rgb(230, 1, 1);
}

.navbar--links {
  margin: auto;
  padding: 0;
  list-style-type: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1rem;
  display: flex;
  justify-content: space-evenly;
  width: 100vh;
  flex-wrap: wrap;
}
